<%- include('../partials/header') %>
<main>
    <h1>Home Pages</h1>
    <h2>Messages</h2>
    <div>
        <% messages.forEach( (message) => { %>
        <div>
            <p>ID: <%= message.id %></p>
            <p><%= message.text %></p>
            <p>From: <%= message.user %></p>
            <p>Posted on: <%= message.added %></p>
            <p><a href="#">Open</a></p>
        </div>
        <% }) %>
    </div>
</main>

<%- include('../partials/footer') %>