<%- include('../partials/header') %>
<h1>Message</h1>
<p>ID: <%= message.id %></p>
<p>Message: <%= message.data %></p>
<p>User: <%= message.username %></p>
<p>Created At: <%= message.added %></p>
<%- include('../partials/footer') %>